:host {
    display: flex;
    padding: 0.5rem;
}

#Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 1rem;
}

.ContainerInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 32%;
}

.ContainerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.inputPassword {
    border: none;
    height: 1.5rem;
    width: 100%;
    background: #ECECEC;
    border-radius: 12px;
    padding: 0.5rem;
}