#ContainerRecentlyAddGame {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.RecentlyAddGames {
    display: flex;
    height: 5rem;
    width: 5rem;
    background-color: aquamarine;
}

@media screen and (max-width: 900px) {
    #ContainerRecentlyAddGame {
        display: none;
    }
}
