*{
  font-family: sans-serif;
  color: aliceblue;
}

.Login-both{
    background-image: url("https://images7.alphacoders.com/821/thumb-1920-821837.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0;
    margin: 0;
}

.card{
    color: #ffff;
    width: 320px;
    height: 420px;
    box-sizing: border-box;
    padding: 70px 40px;
    display: flex;
    flex-direction: column;
}

.forms {
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

.username {
  padding: 1rem;
  margin: 10px;
}

.google-btn {
    width: 188px;
    height: 42px;
    background-color: #f44242;
    border-radius: 2px;
    margin: 10px;
    display: block;
}
.facebook-btn {
  display: flex;
  flex-direction: row;
    width: 188px;
    height: 42px;
    background-color: #2918da;
    border-radius: 2px;
    margin: 10px;
    display: block;
}
    
  .google-icon-wrapper {
   
      margin-top: 1px;
      margin-left: 1px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: #fff;
    }
    .facebook-icon-wrapper {
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: #fff;
      }
    .facebook-icon {
  
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
      }
    .google-icon {
      margin-top: 11px;
      margin-left: 11px;
      width: 18px;
      height: 18px;
    }
    .btn-text {
      float: right;
      margin: 11px 11px 0 0;
      color: #fff;
      font-size: 14px;
      letter-spacing: 0.2px;
      font-family: "sans-serif";
    }
  
    #login{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(blue, pink);
    }