.card-posts {
    display: flex;
    flex-direction: column;
    background-color: #4C4F78;
    padding: 1rem;
    border-radius: 10px;
}

.hastag {
    display: flex;
    padding: 0;
    padding-bottom: 18px;
    justify-content: flex-start;
}

.content {
    display: flex;
    padding: 0;
    padding-bottom: 18px;
}

p {
    margin: 0;
}