.row {
    margin: 0;
    width: 100%;
}

.col{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #252848;
    border-left: solid;
    border-bottom: solid;
    border-width: 1px;
}

.col:hover{
    cursor: pointer;
    background-color: #11123f;
}

.col:focus{
    border-bottom: none;
    background-color: #0E0F38;
}
