:host {
    display: flex;
}

#Container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.game {
    display: flex;
    width: auto;
    height: 26.55rem;
    justify-content: center;
    transition: transform 0.3s ease;
}

.game:hover {
    transform: translateY(-6px);
    cursor: pointer;
    filter: brightness(110%);
}
