.Login-both {
    background-image: url("https://images7.alphacoders.com/821/thumb-1920-821837.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    grid-template-columns: 65% auto;
}

#login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left, transparent, #151558, #09093a, #09093a);
}

.ContainerInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

a {
    display: flex;
    color: #4e74ff;
    text-decoration: none;
    cursor: pointer;
}

.ContainerFormLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #252848;
    padding: 2rem;
    border-radius: 1rem;
    width: 60%;
}

.forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 4rem;
    gap: 0.5rem;
    width: 100%;
}

p {
    margin: 0;
    padding: 0 0.5rem;
}

.TitleLogin {
    margin-top: 4rem;
}

.LoginBtn {
    cursor: pointer;
    display: flex;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
}

.LoginBtn:hover {
    background-color: #e3e3e3;
}

.textContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

.ContainerSocial {
    margin-bottom: 1rem;
}

.RecoveryPassword {
    display: none;
}

@media (max-width: 900px) {

    #space {
        display: none;
    }

    .ContainerSocial {
        display: none;
    }

    .Login-both {
        background-image: none;
        display: grid;
        grid-template-columns: auto;
    }

    #login_form {
        background: #09093a;
    }

    .textContent {
        display: none;
    }

    .RecoveryPassword {
        padding: 12px 0;
        display: block;
    }

    .ContainerFormLogin {
        padding: 1rem;
        width: 75%;
    }

    .forms {
        display: flex;
        margin: 1rem 0;
    }
}