.Login-both{
    background-image: url("https://images7.alphacoders.com/821/thumb-1920-821837.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    grid-template-columns: 65% auto;
}

#login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left, transparent, #151558, #09093a, #09093a);
}

a{
    color: white;
}
