* {
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	background-color: rgba(14, 15, 56, 1)
}

body {
	padding: 5%;
}

.menu {
	display: flex;
}

.menu p {
	margin-right: 2rem;
	cursor: pointer;
}

.content {
	margin-top: 2rem;
	padding: 2%;
}

[data-content] {
	display: none;
}

.active[data-content] {
	display: block;
}