*{
    background-color: rgba(14, 15, 56, 1);
    color: white;
    font-family: sans-serif;
    
}

/* ESTO OCULTA LA BARRA, PERO CÓMO HAGO QUE SE ARRASTRE?
div::-webkit-scrollbar {
  display: none;
}
*/

#carousel-container {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

  #app {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%; /* agregar esta regla */
    box-sizing: border-box;
     /* agregar esta regla */
  }

  #carousel {
    width: 90%;
    scroll-behavior: smooth;
    
  }

.juego-card { 
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }

.juego-card:hover {
    background-color: rgb(21, 22, 74);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.juego-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.juego-card h2 {
    margin: 10px;
    font-size: 24px;
    font-weight: 700;
    background-color: transparent;
}

.juego-card h3 {
    background-color: transparent;
    margin: 10px;
}


.carousel-container {
  width: 80%;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.carousel {
  width: 150%;
  display: flex;
  gap: 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}