:host{
    display: flex;
    width: 96%;
}

.card-platform{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 1.5rem;
}

.card-platform img{
    width: 3rem;
    margin-bottom: 0.9rem;
}

.card-platform img:hover{
    cursor: pointer;
}

.contImg{
    display: flex;
    justify-content: center;
    width: 50%;
}

.carContainer{
    display: flex;
    padding: 0 20px;
    margin: 0;
    background-color: #252848;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
}

.card{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card img{
   border-radius: 8px;
}

.name{
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 19px;
}

p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 900px) {

    .card-body{
        width: 100%;
    }

    .name{
        display: none;
    }

    .carContainer{
        padding: 0 12px;
    }

    .contImg{
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .contImg img{
        width: 100%;
    }

    :host{
        display: flex;
        width: 100%;
    }

}
