:host {
    width: 100%;
}

.bar-search{
    background-color: #F8F8F8;
    padding: 0.5rem;
    border-radius: 0.7rem;
    border: none;
    opacity: 0.7;
}

.btn{
    display: none;
    background-color: #252848;
    color: #F8F8F8;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 10rem;
    border-color: #C7C7C7;
    border: 1px solid;
}

.btn:hover{
    cursor: pointer;
    background-color: #232445;
    border-color: #a6a5a5;
}

.col{
    display: flex;
    width: 100%;
    gap: 12px;
    justify-content: flex-end;
}

@media screen and (min-width: 900px) {
    .btn{
        display: flex;
    }

    .bar-search{
        width: 32%;
    }
}
